{{!-- <form action="/todos/new?_method=DELETE" method="POST">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" class="form-control" placeholder="Enter Name" value="">
  </div>
</form> --}}

<h1>hello world!
</h1>