<form action="/todos/new" method="POST">
  <div class="row">
    <div class="col-auto">
      <input type="text" id="name" name="name" class="form-control" placeholder="Enter todo" value="">
    </div>
    <div class="col-auto">
      <button class="btn btn-success" type="submit">Add</button>
    </div>
  </div>
</form>